.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--background-color);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 0.5rem;
  font: var(--fw-md) var(--fs-base)/1.5rem var(--font-family);

  cursor: pointer;

  background: var(--text-color-primary);
  color: var(--btn-color);
}

.btn:hover {
  background: var(--brand-gradient);
  --btn-color: var(--surface-color);
}

.btn-sm {
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md {
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}
