.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--background-color);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 0.5rem;
  font: var(--fw-md) var(--fs-base)/1.5rem var(--font-family);

  cursor: pointer;

  background: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn:hover {
  --btn-bg-color:linear-gradient(to right, #fc4a1a, #f7b733);
  --btn-color: var(--surface-color);
}

.btn-sm {
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md {
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.btn[aria-label] {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 1.5px;
    background-color: var(--background-color);
    z-index: 0;
  }

  &::after {
    content: attr(aria-label);
    background: var(--btn-bg-color );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
  }
}
